    <nav class="navbar navbar-default" role="navigation">
      <center>
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.ebay.com/sch/bigwholesale4u/m.html?_nkw=&_armrs=1&_ipg=&_from=">广州滨恒贸易有限公司</a>
        </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="pure-menu-selected"><a href="/">首页</a></li>
            </ul>
        </div>
      </center>
    </nav>